CSAF JSON: datetime not implemented to the standard 

The format used to represent datetimes seems to be implemented incorrectly: VINCE currently outputs `2023-01-17 17:41:05.807853+00:00`. However, according to [RFC3339 Section 5.6](https://www.rfc-editor.org/rfc/rfc3339#section-5.6) the format should be `2023-01-17T17:41:05.807853+00:00`.

Note: This is an [open bug](https://github.com/secvisogram/csaf-validator-lib/issues/20) in the CSAF full validator provided by Secvisogram and therefore harder to catch...